{% block comments %}
<p>Комментарий</p>
<ul>
{% for item in get_article_comments_articles.all %}
<li>
  Дата создания: {{item.create_data}}<br>
  Автор статьи: {{item.author}}<br>
</li>
  {{item.id}}<br>
{% endfor %}
</ul>
<div class="col-4">
  <form action="" id="add_form" method="post">
    {% csrf_token %}
    {{form.as_p}}
  </form>
{% endblock comments %}