{% extends 'index.html' %}

{% block content %}

<section class="normal">
  <div id="heading">
 <h1 class="head">{{title}}</h1>
  </div>
<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">Регистрация</button>
</form> 
</section>


{% endblock %}